@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	color: white;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #020f1f;
}

@media only screen and (max-width: 389px) {
	.container {
		width: 97%;
		position: relative;
		top: 70px;
		height: 400px;
	}

	.container h1,
	.container :nth-child(2) {
		text-align: center;
	}

	.container :nth-child(2) {
		color: #364252;
	}

	.container input {
		width: calc(100% - 80px); /* Ajuste para o padding */
		padding: 10px;
		border: none;
		border-radius: 10px;
		background-color: #364252;
		color: #fff;
		outline: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
        text-transform: capitalize;
	}

	.container input:nth-child(3) {
		margin-top: 60px;
	}

	.container input:focus {
		background-color: #475a6b;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	#weatherResult {
		display: none;
	}

	#btn-next {
		position: absolute;
		width: 30px;
		height: 30px;
		font-size: 25px;
		top: 5px;
		right: 10px;
		cursor: pointer;
		color: white;
	}

	.info-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		width: 260px;
		position: relative;
		left: 20px;
	}

	.info-box {
		background-color: #475a6b;
		width: 125px;
		height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		margin: 10px;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
	}
	.info-box p {
		margin: 0;
		font-size: 14px;
	}

	.home {
		display: block;
	}

	#btn-prev {
		position: absolute;
		width: 30px;
		height: 30px;
		font-size: 25px;
		top: 5px;
		left: 10px;
		cursor: pointer;
		color: white;
	}

	#weatherResult :nth-child(2) {
		text-align: center;
	}

	#weatherResult .svg {
		top: 20px;
		width: 99%;
		height: 250px;
		position: relative;
		text-align: center;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	.svg i {
		font-size: 150px;
		width: 150px;
		height: 150px;
		background-color: #475a6b;
		position: relative;
		padding: 40px;
		border-radius: 20px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	#weatherResult :nth-child(4) {
		text-align: center;
		font-size: 50px;
	}

	.more-info {
		width: 75%;
		height: 200px;
		text-align: center;
		align-items: center;
		position: relative;
		padding: 40px;
	}

	.more-info p {
		width: 90%;
		height: 20px;
		background-color: #475a6b;
		position: relative;
		padding: 20px 5px 20px 5px;
		border-radius: 10px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}
}
